@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-custom1: #E4F2E7;
  --color-custom2: #3CA6A6;
  --color-custom3: #026773;
  --color-custom4: #024959;
  --color-custom5: #012E40;
  --color-custom2_1: #7ED5D4;
  --color-custom3_1: #00545E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}


body {
  font-family: Arial, Helvetica, sans-serif;
}
